{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="container w-80">
        <div class="row">
            <div class="col-sm-6 ms-5 ps-5 mt-3 pt-5 pb-5 content">
                <div class="container">
                    <h2 class="display-4">Log In</h2>
                    <h2 class="lead fade-in">See what's leftover!</h2>
                    <br>
                </div>
            
                <form action="/login" method="post" class="ps-3">
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control" style="width: 75%;" 
                        id="username" name="username" placeholder="Username" type="text">
                    </div>
                    <div class="mb-5">
                        <input class="form-control" style="width: 75%;" 
                        id="password" name="password" placeholder="Password" type="password">
                    </div>
                    <button class="btn btn-primary" type="submit">Log In</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}